<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>إعدادات التطبيق</title>
    <link rel="stylesheet" href="/static/set.css">
</head>
<body>
    <!-- الهيدر -->
    <header>
        <h1>إعدادات التطبيق</h1>
        <h2>تعديل مسارات الملفات وإعدادات أخرى</h2>
    </header>

    <!-- المحتوى الرئيسي -->
    <main>
        <section class="card">
            <h3>تحديث الإعدادات</h3>
            <form method="POST">
                <label for="upload_folder">مسار مجلد الرفع:</label>
                <input type="text" id="upload_folder" name="upload_folder" value="{{ upload_folder }}" required>

                <label for="download_folder">مسار مجلد التنزيل:</label>
                <input type="text" id="download_folder" name="download_folder" value="{{ download_folder }}" required>

                <button type="submit">حفظ التغييرات</button>
            </form>
        </section>
    </main>

    <!-- الفوتر -->
    <footer>
        <p>© 2025 بواسطة <a href="https://facebook.com/profile.php?id=100014784496206&mibextid=ZbWKwL" target="_blank">محمد فؤاد</a></p>
        <p><a href="https://www.google.com" style="color: red; text-decoration: none;">فلسطين حرة</a></p>
    </footer>
</body>
</html>
